In [1]:
import pandas as pd
import numpy as np

# Gene Expression Clustering

In [2]:
gen_exp = pd.read_csv('gene_exp_small.csv')
gen_exp = gen_exp.iloc[:, 2:-1]
gen_exp.head()

,2,3,4,5,6,7,8,9,10,11,...,96,97,98,99,100,101,102,103,104,105
0,-0.16040,0.048530,0.192300,0.32770,-0.26770,0.1726,-0.31990,-0.172900,0.314700,0.03395,...,-3.959000e-01,-0.034210,-0.12120,-0.359300,0.06677,0.01958,-0.07991,-0.19670,-0.380700,-0.2959
1,0.29920,-0.004716,-0.099540,0.08183,-0.04830,0.2533,0.00000,-0.085590,0.004717,0.15910,...,-6.862000e-02,-0.298700,-0.22640,-0.411600,0.07871,0.00000,-0.18440,-0.15860,0.114300,-0.2784
2,-0.17610,0.040310,0.006575,-0.18040,0.15880,0.1733,0.10310,0.005472,0.000000,-0.12560,...,-3.159000e-02,-0.005352,0.02855,0.000000,0.08634,-0.31740,0.55040,0.00000,0.000000,-0.2062
3,0.00000,0.000000,0.000000,-0.12710,-0.04571,0.1123,0.00000,0.569800,0.000000,-0.01770,...,2.238000e-01,0.000000,0.00000,0.004525,0.00000,0.00000,0.00000,0.00000,0.000000,0.1294
4,0.02153,0.192300,-0.159400,0.33860,0.32120,0.2989,0.07989,-0.317500,0.240000,-0.09352,...,8.220000e-09,0.030010,-0.08457,0.410600,0.19340,-0.21830,0.01400,-0.06649,-0.005025,-0.2455

In [3]:
from sklearn.cluster import KMeans
Kmean = KMeans(n_clusters=2)
Kmean.fit(gen_exp)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [4]:
labels = Kmean.labels_

In [7]:
from sklearn.metrics import davies_bouldin_score, silhouette_score
print(davies_bouldin_score(gen_exp, labels)) 
print(silhouette_score(gen_exp, labels))

2.935152999156101
0.08382327446484648

/anaconda3/lib/python3.6/site-packages/sklearn/metrics/cluster/unsupervised.py:342: RuntimeWarning: divide by zero encountered in true_divide
  score = (intra_dists[:, None] + intra_dists) / centroid_distances

# PDB ID Clustering

In [9]:
pdb = pd.read_csv('pdb_ids_enc.csv')
pdb = pdb.iloc[:, 1:]
pdb.head()

,0,1.1,2,3,4,5,6,7,8,9,...,507,508,509,510,511,512,513,514,515,516
0,9377,6848,4385,650,4299,833,5358,584,8674,1827,...,1694,1694,1694,1694,1694,1694,1694,1694,1694,1694
1,6897,6501,9473,9737,5095,6215,8147,5025,8035,4506,...,1694,1694,1694,1694,1694,1694,1694,1694,1694,1694
2,1564,529,918,8856,3850,8259,5191,3431,907,7361,...,1694,1694,1694,1694,1694,1694,1694,1694,1694,1694
3,1564,529,4503,9456,918,8856,3850,19,8259,5191,...,1694,1694,1694,1694,1694,1694,1694,1694,1694,1694
4,307,5913,5398,4511,7529,1490,1993,3194,3547,5838,...,1694,1694,1694,1694,1694,1694,1694,1694,1694,1694

In [10]:
Kmean = KMeans(n_clusters=2)
Kmean.fit(pdb)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [11]:
labels = Kmean.labels_

In [12]:
print(davies_bouldin_score(pdb, labels)) 
print(silhouette_score(pdb, labels))

1.5044464212729516
0.3311776896849029

/anaconda3/lib/python3.6/site-packages/sklearn/metrics/cluster/unsupervised.py:342: RuntimeWarning: divide by zero encountered in true_divide
  score = (intra_dists[:, None] + intra_dists) / centroid_distances